@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.body {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.header {
    background-image: url(../img/Sections_background/backheader.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 8px;
}

.header-background {
    background: rgba(94, 93, 88, 0.60);
    margin-bottom: 264px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FFF;
    font-size: 32px;
    font-family: Montserrat;
    line-height: 48px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.green-style {
    color: rgba(24, 207, 171, 1);
    font-weight: 700;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 21px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 25px;
}

.list-search {
    display: block;
    background-image: url(../img/nav/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 21px;
    width: 22px;
}

.header-hover {
    transition: 0.5s;
}

.header-hover:hover {
    color: #18CFAB;
    text-decoration: underline;
    text-underline-offset: 52px;
    text-decoration-thickness: 2px;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #FFF;
}

.title-text:first-child {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.title-text:nth-child(2) {
    font-size: 78px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.title-text:last-child {
    color: #D4D4D4;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 129px;
}

.title ul:last-child {
    display: flex;
    justify-content: center;
    gap: 56px;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 243px;
}

.title ul:last-child li {
    background-color: rgba(255, 255, 255, 1);
    padding-top: 21px;
    border-radius: 5px;
}

.title-btn {
    background-color: rgba(24, 207, 171, 1);
    border-radius: 5px;
    padding: 16px 18px;
}

.background-blue {
    background-color: rgba(0, 203, 246, 1);
}

/* MAIN */
.opportunity {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(28, 42, 51, 1);
    margin-bottom: 100px;
}

.opportunity li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 345px;
}

.opportunity li:nth-child(even) {
    background-color: rgba(24, 207, 171, 1);
}

.opportunity li:nth-child(odd) img {
    margin-bottom: 50px;
}

.opportunity li:nth-child(even) img {
    margin-bottom: 60px;
}

.services-title h2 {
    margin-bottom: 24px;
}

.services-title img {
    margin-bottom: 67px;
}

.services-tabs {
    display: flex;
    color: #717171;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 25px;
}

.tabs-title {
    position: relative;
    padding: 30px 39px;
    border: 1px solid transparent;
    background-color: rgba(237, 239, 239, 1);
}

.tabs-title span {
    cursor: default;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-title.active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #18CFAB;
}

.tabs-title.active {
    color: #FFF;
    background-color: rgba(24, 207, 171, 1);
    border: 1.5px solid #18CFAB;
}

.tabs-content {
    margin-bottom: 91px;
}

.content-text {
    display: none;
}

.content-text.active {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
}

.content-text img {
    padding-top: 6px;
    width: 192px;
    height: 139px;
}

.purchase-wrapper {
    background-image: url(../img/Sections_background/background_first.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 476px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.purchase-wrapper h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 127px;
    margin-bottom: 12px;
}

.purchase-wrapper p {
    color: #D8D8D8;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 65px;
}

.purchase-wrapper a.title-btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.container-btn {
    display: inline;
    border-radius: 5px;
    padding-top: 21px;
    background-color: #FFF;
}

.title-style {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    line-height: 1;
}

.work-wrapper {
    background-color: rgba(233, 237, 239, 1);
}

.work-title {
    margin-bottom: 69px;
}

.work-title h2 {
    padding-top: 96px;
}

.work-tabs {
    display: flex;
    justify-content: center;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 42.042px;
    margin-bottom: 70px;
}

.work-tabs li {
    padding: 14px 29px;
    border: 1px solid #DADADA;
    border-right: 0px;
    cursor: default;
}

.work-tabs li:last-child {
    border-right: 1px solid #DADADA;
}

.work-tabs li.active {
    border: 1px solid rgba(24, 207, 171, 1);
}

.work-tabs li.active+li {
    border-left: 0px;
}

.work-list {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 70px;
}

.work-list li {
    width: 284px;
    height: 206px;
    transition: 0.5s;
    border-top: 1px solid transparent;
}

.work-list li:hover {
    border-top: 1px solid rgba(24, 207, 171, 1);
}

.work-list-content,
.work-list-content div {
    display: none;
}

.work-list-content:hover .content-img {
    display: none;
}

.work-list-content:hover div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-list-content div img {
    margin-top: 40px;
    margin-bottom: 20px;
}

.work-list-content span:last-child {
    color: #8A8A8A;
    font-size: 12.152px;
    font-weight: 300;
    line-height: 25.185px;
}

.list-content-text {
    color: #18CFAB;
    font-size: 14.177px;
    font-weight: 700;
    line-height: 25.185px;
    text-transform: uppercase;
}

.work-load {
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}

.load-btn {
    position: relative;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba(24, 207, 171, 1);
    padding: 26px 18px 25px 58px;
    border-radius: 5px;
    margin-bottom: 99px;
}

.load-btn::before {
    position: absolute;
    content: "";
    background-image: url(../img/main/plus.png);
    width: 17px;
    height: 18px;
    left: 30px;
    top: 24px;
}

.news-title {
    margin-bottom: 68px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px 44px;
    margin-bottom: 131px;
}

.news-wrapper-content a .news-text,
.news-wrapper-content .news-img p {
    transition: 0.3s;
}

.news-wrapper-content:hover a .news-text {
    color: #18CFAB;
}

.news-wrapper-content:hover .news-img p {
    background-color: #18CFAB;
}

.news-img {
    display: flex;
    justify-content: end;
    text-align: center;
    align-items: start;
    background-image: url(../img/main/news1.png);
    width: 257px;
    height: 208px;
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
}

.news-wrapper-content:nth-child(2) .news-img {
    background-image: url(../img/main/news2.png);
}

.news-wrapper-content:nth-child(3) .news-img {
    background-image: url(../img/main/news3.png);
}

.news-wrapper-content:nth-child(4) .news-img {
    background-image: url(../img/main/news4.png);
}

.news-wrapper-content:nth-child(5) .news-img {
    background-image: url(../img/main/news5.png);
}

.news-wrapper-content:nth-child(6) .news-img {
    background-image: url(../img/main/news6.png);
}

.news-wrapper-content:nth-child(7) .news-img {
    background-image: url(../img/main/news7.png);
}

.news-wrapper-content:nth-child(8) .news-img {
    background-image: url(../img/main/news8.png);
}

.news-img p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(32, 62, 56, 1);
    width: 70px;
    height: 68px;
}

.news-text {
    color: #717171;
    font-size: 17.988px;
    font-weight: 700;
    line-height: 38.942px;
    margin-left: 15px;
}

.news-comment {
    color: #777;
    font-size: 13.991px;
    font-weight: 300;
    line-height: 1;
    margin-left: 20px;
}

.line {
    margin-left: 6px;
    margin-right: 6px;
}

.peopleSay {
    background: url(../img/Sections_background/section-3.png) no-repeat center center fixed;
    background-size: cover;
}

.peopleSay-title {
    color: #FFF;
    padding-top: 98px;
}

.peopleSay-content {
    display: none;
}

.peopleSay-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BBB;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.peopleSay-content span {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 37px;
}

.peopleSay-content-text {
    font-size: 14px;
    margin-bottom: 30px;
}

.peopleSay-content img {
    margin-top: 68px;
    margin-bottom: 37px;
    width: 44px;
    height: 31px;
}

.peopleSay-profile {
    display: none;
}

.peopleSay-profile.active {
    display: flex;
    justify-content: center;
    animation: slide 0.5s;
}

@keyframes slide {
    0% {
        opacity: 0.25;
        transform: scale(0);
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.circle {
    display: flex;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    margin-bottom: 50px;
}

.circle img {
    padding: 11px;
    height: 164px;
    width: 165px;
}

.profile-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.profile-list-content {
    margin-bottom: 99px;
    transition: 0.5s;
    cursor: pointer;
}

.profile-list-content.active {
    transition: 0.5s;
    transform: translateY(-25%);
}

.circle-box {
    display: flex;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.circle-box img {
    padding: 6px;

}

.scroll-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.arr {
    position: absolute;
    cursor: pointer;
    width: 31px;
    height: 31px;
    border: 1px solid rgba(187, 187, 187, 1);
    left: 350px;
    top: 20px;
    transition: 0.2s;
}

.arr:hover {
    background-color: rgba(24, 207, 171, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.arr:hover div {
    border-top: 3px solid rgba(255, 255, 255, 1);
    border-left: 3px solid rgba(255, 255, 255, 1);
}

.arr div {
    position: absolute;
    height: 15px;
    width: 15px;
    border-top: 3px solid rgba(187, 187, 187, 1);
    border-left: 3px solid rgba(187, 187, 187, 1);
    transform: rotate(315deg);
    left: 10px;
    top: 7px;
}

.right {
    left: 780px;
    transform: rotate(180deg);
}

/* FOOTER */
footer {
    text-align: center;
    background-color: rgba(34, 53, 63, 1);
}

footer p {
    padding: 48px;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

footer p span {
    color: rgba(24, 207, 171, 1);
}