@import url('./reset.css');
@import url('https://fonts.cdnfonts.com/css/gilam');
@import url('https://fonts.cdnfonts.com/css/circle-font');

body {
    font-family: 'Gilam', sans-serif;
}

.header {
    background-color: #171717;
}

.container {
    margin: 0 auto;
    max-width: 1460px;
}

.header__box {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.header__box_call {
    display: flex;
    border: 1px solid #E4B564;
    align-items: center;
    justify-content: center;
    margin-bottom: 114px;
}

.header__box_img {
    padding-left: 26px;
}

.header__box_text {
    font-family: 'Circle Thin Font', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 25px 10px 10px;
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.main {
    background-color: #171717;
    padding-bottom: 239px;
}

.main__jobs_title {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.main__jobs_description {
    max-width: 1200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.main__jobs_list {
    display: grid;
    gap: 27px 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    padding-bottom: 161px;
}

.main__list_jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.main__list_jobs:hover {
    transform: scale(1.05);
}

.main__jobs_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.main__list_jobs:first-child {
    background: #634F2C;
    grid-column: 1 / 3;
}

.main__list_jobs:nth-child(2) {
    background: #B4A385;
    grid-column: 3 / 5;
}

.main__list_jobs:nth-child(2)>.main__jobs_text {
    width: 380px;
}

.main__list_jobs:nth-child(3) {
    background: #E4B564;
    grid-column: 5 / 7;
}

.main__list_jobs:nth-child(4) {
    background: #635A4A;
    grid-column: 1 / 4;
}

.main__list_jobs:nth-child(5) {
    background: #B08C4D;
    grid-column: 4 / 7;
}

.main__info {
    padding-bottom: 191px;
}

.main__info_title {
    font-weight: 700;
    font-size: 50px;

    color: #FFFFFF;
    padding-bottom: 94px;
}

.main__info_list {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(20, 22px);
    gap: 26px 30px;
}

.main__info_text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 48px;
}

.main__text_bolt {
    font-weight: 700;
}

.main__list_info {
    transition: 0.5s;
}

.main__list_info:hover {
    transform: scale(1.1);
}

.main__list_info:nth-child(1) {
    grid-row: 1/ 8;
    background: #0E0E0E;
}

.main__list_info:nth-child(1)>.main__info_text {
    font-weight: 400;
    max-width: 330px;
}

.main__list_info:nth-child(2) {
    background: #1F1F1F;
    grid-row: 8/ 21;
}

.main__list_info:nth-child(3) {
    background: #242424;
    grid-column: 2 / 3;
    grid-row: 1 / 11;
}

.main__list_info:nth-child(3)>.main__info_text {
    font-weight: 400;
    max-width: 430px;
}

.main__list_info:nth-child(4) {
    background: #E4B564;
    grid-column: 2 / 3;
    grid-row: 11 / 20;
}

.main__list_info:nth-child(4)>.main__info_text {
    color: #000000;
}

.main__list_info:nth-child(5) {
    background: #1F1F1F;
    grid-column: 3 / 4;
    grid-row: 1 / 7;
}

.main__list_info:nth-child(6) {
    background: #0E0E0E;
    grid-column: 3 / 4;
    grid-row: 7 / 15;
}

.main__list_info:nth-child(7) {
    background: #0A0909;
    grid-column: 3 / 4;
    grid-row: 15 / 21;
}

.main__list_info:nth-child(7)>.main__info_text {
    font-weight: 700;
}

.main__clients {
    background: #0E0E0E;
}

.main__clients_box {
    padding-top: 172px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 61px;
}

.main__box_title {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.main__box_link {
    align-self: center;
    font-family: 'Circe';
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 40px;
}

.main__clients_list {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
}

.main__list_clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__clients_img {
    padding-bottom: 16px;
}

.main__clients_mavis {
    max-width: 310px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.main__mavis_bolt {
    font-weight: 400;
}

.main__list_clients:nth-child(1) {
    background: #634F2C;
    grid-row: 1 / 2;
}

.main__list_clients:nth-child(2) {
    background: rgba(232, 210, 171, 0.76);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.main__list_clients:nth-child(3) {
    background: #E4B564;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.main__list_clients:nth-child(4) {
    background: #635A4A;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.main__list_clients:nth-child(5) {
    background: #B08C4D;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.main__list_clients:nth-child(6) {
    background: #634F2C;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.main__list_scale {
    transition: 1s;
}

.main__list_scale:hover {
    transform: scale(1.3);
}

.footer {
    background-color: #171717;
}
