@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/background.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
}

/* ---------------HEADER------------------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
    padding: 18px 79px;
}

.header__container_title {
    font-weight: 700;
    font-size: 22px;
}

.header__container_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navigation_icon {
    display: flex;
    gap: 25px;
    padding-right: 53px;
}

.transition {
    transition: 0.5s;
}

.header__navigation_authorization {
    position: relative;
}

.header__navigation_authorization::before {
    position: absolute;
    width: 1px;
    height: 19px;
    content: '';
    top: -2px;
    left: -25px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

/* ---------------HEADER--HOVER------------------ */
.header__container_title:hover,
.header__authorization_log:hover,
.header__authorization_sign:hover,
.header__icon:hover {
    color: #3CB878;
}

/* ---------------MAIN------------------ */
.container {
    position: relative;
    padding: 31px 60px 38px 60px;
    max-width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    color: #434343;
}

.main__container_square {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    top: 31px;
    left: 0px;
}

.main__box_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main__title_text {
    font-size: 20px;
    color: #434343;
}

.main__title_login {
    color: #3CB878;
}

.main__box_source {
    display: flex;
    justify-content: center;
    gap: 4px;
    color: #FFFFFF;

}

.main__source_link {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 16px 0px;
    margin-bottom: 31px;
    gap: 37px;
}

.main__source_link:first-child {
    background: #305DB8;
}

.main__source_link:last-child {
    background: #DF4A32;
}

.fa-2xl {
    padding-left: 14px;
}

.main__link_text {
    font-size: 16px;
    padding-right: 22px;
}

.fa-facebook-f::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    left: 48px;
    top: 10px;
}

.fa-google-plus-g::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    left: 56px;
    top: 10px;
}

.main__alternative_line {
    overflow: hidden;
    text-align: center;
    color: #848484;
    margin-bottom: 12px;
}

.main__alternative_line::before,
.main__alternative_line::after {
    background-color: #F2F2F2;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.main__alternative_line::before {
    right: 5px;
    margin-left: -50%;
}

.main__alternative_line::after {
    left: 5px;
    margin-right: -50%;
}

.main__field_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main__form_input {
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
    padding-left: 20px;
}

.main__form_input::placeholder {
    color: #BEBEBE;
}

.main__form_input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.main__field_accept {
    align-items: center;
    display: flex;
    max-width: 249px;
}

.main__text_link {
    color: rgba(60, 184, 120, 1);
}

.main__field_create {
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px 99px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}

.main__accept_checkbox {
   display: none;
}

.main__accept_box {
    position: relative;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.main__accept_box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
    cursor: pointer;
    opacity: 0;
    background: url('../img/accept.svg') center no-repeat;
}

.main__accept_checkbox:checked+.main__accept_box::before {
    opacity: 1;
}

/* ---------------MAIN--HOVER------------------ */
.main__source_link:first-child:hover {
    background: #022263;
}

.main__source_link:last-child:hover {
    background: #AB1F09;
}

.main__text_link:hover,
.main__title_login:hover {
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}

.main__field_create:hover {
    background: #01813F;
}

.main__accept_box:hover::before {
    opacity: 0.2;
}
.main__accept_checkbox:checked+.main__accept_box::before {
    opacity: 1;
}