@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

.body {
    background: #3A4965;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    padding-top: 28px;
}

/* --------------THEAD---------------- */
.table {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 1143px;
    line-height: 1;
    border-collapse: collapse;
}

.table__thead {
    height: 101px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    border-bottom: 15px solid #3A4965;
}

.table__row_content {
    width: 160px;
    background-color: #F2F2F2;
    line-height: 28px;
}

.table__content_text {
    font-size: 14px;
}

/* --------------THEAD-----PSEUDOCLASSES----------- */
.table__row_content:first-child {
    line-height: 1.1;
    width: 183px;
    background: #FAFAFA;
}

.table__row_content:nth-child(2n + 2) {
    background-color: #E3E3E3;
}

/* --------------TBODY---------------- */
.table__tbody_row {
    line-height: 24px;
    background-color: #F2F2F2;
}

.table__row_price {
    width: 160px;
    height: 170px;
}

.table__price_box {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-bottom: 23px;
}

.table__box_coast {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
    font-size: 36px;
}

.table__coast_half {
    position: relative;
    font-size: 14px;
}

.table__box_link {
    padding: 14px 30px;
    background: #484848;
    font-size: 16px;
    border-radius: 5px;
    background: linear-gradient(0deg, #404040 12%, #484848 0%);
}

/* --------------TBODY----PSEUDOCLASSES----------- */
.table__coast_half::before {
    content: '.99';
    position: absolute;
    font-size: 18px;
    top: -10px;
    left: -30px;
}

.table__row_price:nth-child(2n + 2) {
    background-color: #E3E3E3;
    border-bottom: 2px solid #DDDDDD;
}

.table__row_price:nth-child(2n + 3) {
    border-bottom: 2px solid #DDDDDD;
    background-color: #F2F2F2;
}

.table__row_price:first-of-type {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 28px;
    background: #89C331;
}

.table__tbody_row:nth-child(2) .table__row_price:first-child {
    background: #F04A56;
}

.table__tbody_row:nth-child(3) .table__row_price:first-child {
    background: #20807C;
}