/* @import url('./reset.css'); */
.image-to-show {
    display: inline-block;
    width: 400px;
    height: 400px;
  }
  
  .images-wrapper {
    display: flex;
    justify-content: center;
  } 
  .support-hidden{
    animation: pulse 3s ease-in-out infinite
  }
  .hidden {
    display: none;
  }
  
  .btn_stop,
  .btn_start {
    border: black solid 1px;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
  }

  .btn-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  @keyframes pulse {
    0%{
        opacity: 1;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
  }