@import url('./reset.css');

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--first-color);
}

.container {
    margin: 0 auto;
    width: 1280px;
}
:root{
    --first-color: #FFFFFF;
    --second-color: #000000;
}
.dark-theme{
    --first-color: #292929;
    --second-color: #d4d4d4;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 63px;
    margin-bottom: 40px;
}
.header__logo_text{
    color: var(--second-color);
}
#moon{
    height: 25px;
    width: 25px;
}
.header__logo_link {
    font-size: 80px;
    line-height: 94px;
}

.header__link_color {
    color: #4BCAFF;
}

.nav {
    background-color: #35444F;
    margin-bottom: 49px;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list_item {
    color: #d4d4d4;
    transition: 0.5s;

}

.nav__list_item:hover {
    background: #222F3A;
}

.nav__list_link {

    font-size: 24px;
    line-height: 28px;
    padding: 24px 35px;
    display: inline-block;
    border-left: 1px solid var(--first-color);

}

.nav__list_Node {
    font-size: 24px;
    line-height: 28px;
    padding: 24px 35px;
    display: inline-block;
    border-left: 1px solid var(--first-color);
    border-right: 1px solid var(--first-color);
}

.main__section {
    display: flex;
    justify-content: space-between;
}

.main__section_list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--second-color);
}

.main__section_box {
    width: 344px;
}

.section__list_item {
    padding: 26px 44px;
    font-size: 27px;
    line-height: 27px;
    color: var(--second-color);
    transition: 0.7s;

}

.section__list_item:hover {
    background-color: var(--first-color);
    color: var(--second-color);
    padding-left: 90px;

}

.main__distriction {
    width: 885px;
}

.main__distriction_ramda {
    text-align: center;
    border: 1px solid var(--second-color);
    margin-bottom: 37px;
    padding: 75px;

}

.main__distriction_img {
    margin-bottom: 37px;

}

.main__ramda_scale {
    transition: 1s;
}

.main__ramda_scale:hover {
    transform: scale(1.3);
}

.main__distriction_text1 {
    font-size: 18px;
    line-height: 24px;
    color: var(--second-color);
    margin-bottom: 34px;
}

.main__distriction_text2 {
    font-size: 18px;
    line-height: 24px;
    color: var(--second-color);
    margin-bottom: 54px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    align-items: center;
}

.footer__box_list {
    display: flex;
    color: var(--second-color);
    padding: 20px 40px;
    gap: 40px;
    font-size: 28px;
    line-height: 28px;
}

.footer__list_item {
    transition: 0, 5s;
}

.footer__list_item:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-thickness: 1px;
}

.footer__box_copyright {
    color: var(--second-color);
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
}