@import 'mixin.scss';

.footer {
    background-color: black;

    &__body {
        color: #B9B9B9;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        padding-top: 68px;
        max-width: 680px;
        margin: 0 auto;

        p:first-of-type {
            color: #FEFEFE;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        p:nth-child(2) {
            padding-bottom: 37px;
            span{
                @media(max-width: 767px){
                    display: none;
                }
            }
        }

        p:last-of-type {
            line-height: 26px;
            padding-bottom: 70px;
        }
    }

    &__body-link {
        @include flexjcc;
        gap: 5px;
        padding-bottom: 34px;
    }
}