@import "./variables.scss";

.header {
    &__nav {
        padding: 48px 0px;

        @media(max-width: 1169px) {
            padding: 35px 0px;
        }

        @media(max-width: 767px) {
            display: none;
        }
    }

    &__list {
        @include flexjcc;
        gap: 68px;
        color: $text-color;
        font-size: 11px;
        line-height: 2;
        letter-spacing: 1.1px;
        text-transform: uppercase;

        @media(max-width: 1169px) {
            gap: 34px;
        }
    }

    &__list-item:first-of-type {
        color: #57A4A4;
    }

    &__burger-box {
        position: relative;
        display: none;

        @media(max-width: 767px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 23px 0px;

            img.disable {
                display: none;
            }

            img {
                background-color: black;
            }
        }

        &__menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 60px;
            width: 182px;
            height: 200px;
            background-color: #F5F5F5;
            color: $text-color;
            font-size: 11px;
            line-height: 22px;
            letter-spacing: 1.1px;
            text-transform: uppercase;

            li {
                padding-left: 13px;
                transition: 0.5s;

                &:hover {
                    background-color: #b6b6b6;
                }
            }

            li:first-of-type {
                color: #57A4A4;
            }

            &.disable {
                display: none;
            }
        }
    }
}