@import "./variables.scss";
.main {
    &__header-background {
        padding-bottom: 66px;
        max-width: 100%;
        @media(max-width: 1169px){
            padding-bottom: 55px;
        }
        @media(max-width: 767px){
            padding-bottom: 38px;
        }
    }
    &__wrapper-title {
        color: $text-color;
        font-size:  $desctop-size;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        @media(max-width: 767px){
            font-size: $mobile-size;
        }
    }

    &__wrapper-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 24px;
        gap: 32px;
        padding-bottom: 69px;
        @media(max-width: 767px) {
            padding-bottom: 20px;
        }
    }

    &__wrapper-list__item {
        @include flexsb;
        gap: 21px;
        @media(max-width: 767px){
            flex-direction: column;
            align-items: start;
        }
    }

    &__wrapper-list__text-wrapper {
        p:first-of-type {
            color: $text-color;
            font-size:  $desctop-size;
            font-weight: 700;
            line-height: 30px;
            @media(max-width: 767px){
                font-size: $mobile-size;
            }
        }

        p:nth-child(2) {
            color: #7C7C7C;
            font-size: 12px;
            line-height: 20px;
            padding-bottom: 13px;
        }

        p:last-of-type {
            color: #5C5C5C;
            font-size: 14px;
            line-height: 26px;
            max-width: 388px;
            @media(max-width: 767px){
                display: none;
            }
        }
    }

    &__shots {
        background: rgb(0, 0, 0, 0.029999999329447746);
        @media(max-width: 767px) {
            background-color: white;
        }
    }

    &__shots-title {
        @include flexsb;
        color: $text-color;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 47px;
        padding-bottom: 24px;

        p:first-of-type {
            font-size:  $desctop-size; 
            line-height: 22px;
            @media(max-width: 767px){
                font-size: $mobile-size;
            }
        }

        p:last-of-type {
            font-size: 13px;
            line-height: 22px;
            @media(max-width: 767px){
                display: none;
            }
        }
    }
    &__shots-gallery{
        @include flexjcc;
        gap: 8px;
        padding-bottom: 49px;
        @media(max-width: 767px){
            justify-content: start;
        }
        img{
            @media(max-width: 1169px){
                max-width: 250px;
                max-height: 250px;
            }
            @media(max-width: 767px){
                max-width: 100%;
                max-height: 100%;
            }
        }
        img:nth-child(2),
        img:nth-child(3){
            @media(max-width: 767px){
                display: none;
        }
    }
        img:last-of-type{
            @media(max-width: 1169px){
                display: none;
            }
        }
    }
}