@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    background-image: url(../img/background.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.header__box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.header__box_logo {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    gap: 8px;
    align-items: center;
}

.header__box_logo:hover .header__logo_picture {
    display: none;
}

.header__box_logo:hover .header__logo_orange {
    display: inline-block;
}

.header__box_logo:hover {
    color: #F26522;
}

.header__logo_orange {
    display: none;
}

.header__logo_text {
    display: flex;
    flex-direction: column;
    transform: translateY(3px);
}

.header__text_head {
    font-size: 29px;
    line-height: 1;
}

.header__text_foot {
    font-size: 18px;
    line-height: 1;
}

.header__info_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
}

.header__info_item:hover {
    color: #F26522;
}

.main {
    margin-bottom: 49px;
}

.main__list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    gap: 37px 61px;
}

.main__box_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main__box_text {
    font-size: 18px;
    line-height: 1;
}

.border_style {
    display: flex;
    align-items: end;
    height: 220px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, rgb(255, 255, 255), rgb(0, 0, 0)) 1;
}

.main__box_shop {
    background-image: url('../img/Shop.png');
}

.main__box_tour {
    background-image: url('../img/Tours.png');
}

.main__box_food {
    background-image: url('../img/food.png');
}

.main__box_bars {
    background-image: url('../img/Bar.png');
}

.main__box_art {
    background-image: url('../img/Art.png');
}

.main__box_walk {
    background-image: url('../img/Walk.png');
}

.main__box_link:hover {
    color: #F26522;
}

[class $="content"] {
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    background-color: #F26522;
    width: 100%;
    max-height: 0px;
    transition: max-height 1.5s;
}

.main__box_link:hover>.main__box_shop>.main__shop_content,
.main__box_link:hover>.main__box_tour>.main__tour_content,
.main__box_link:hover>.main__box_food>.main__food_content,
.main__box_link:hover>.main__box_bars>.main__bars_content,
.main__box_link:hover>.main__box_art>.main__art_content,
.main__box_link:hover>.main__box_walk>.main__walk_content {
    max-height: 55px;
}

.main__content_box {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    gap: 4px;
}

.main__box_txt {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.main__box_price {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.main__content_view::after {
    padding-left: 16px;
    content: '\276F';
}

.main__content_view {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 14px 16px;
}

.main__content_view:hover {
    color: #bbbbbb;
}

.footer {
    text-align: center;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 15px;
}